.table td {
    vertical-align: middle;
}

.form-control-label {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
}

.ajs-success {
    color:white;
}

.ajs-warning {
    color: black;
}

.btn {
    transition: ease 1s;
}

.alert ol, .alert ul {
    margin: 0;
}

.nav-item.active a {
    color: #0252a5;
}

#btn-action.dropdown-toggle:after {
    display:none;
}


.custom-file-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.widget-4 .card-profile-img {
    top: -40px;
    background-image: url('/upload/teacher/avatar.png')
}

.br-profile-page .br-profile-body {
    max-width:none;
}

.widget-2 .card-header {
    background: white;
}

.widget-2 .card-body {
    background: white;
}

.widget-4 .card-profile-img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: #eee no-repeat center;
    background-size: cover;
}

.ui-datepicker{z-index:1151 !important;}

/* DATA TABLE MOD */
table.dataTable thead th.sorting::after, table.dataTable thead th.sorting_asc::after, table.dataTable thead th.sorting_desc::after, table.dataTable thead td.sorting::after, table.dataTable thead td.sorting_asc::after, table.dataTable thead td.sorting_desc::after {
    display:none;
}
  table.dataTable thead th.sorting::before, table.dataTable thead th.sorting_asc::before, table.dataTable thead th.sorting_desc::before, table.dataTable thead td.sorting::before, table.dataTable thead td.sorting_asc::before, table.dataTable thead td.sorting_desc::before {
    display:none;
}

@media (min-width: 480px) {
    .br-profile-page .br-profile-body {
        padding: 20px;
    }
}

