.table td {
    vertical-align: middle;
}

.form-control-label {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
}

.ajs-success {
    color:white;
}

.ajs-warning {
    color: black;
}

/* ----------------------------------------------- */
/* ############### BUTTON ############### */
/* ----------------------------------------------- */

.btn {
    transition: ease 1s;
}

.alert ol, .alert ul {
    margin: 0;
}

.nav-item.active a {
    color: #0252a5;
}

#btn-action.dropdown-toggle:after {
    display:none;
}

.btn-status {
    padding: 2px 10px;
    border-radius: 50px;
    font-size:9pt;
}

/* ----------------------------------------------- */
/* ############### DATA TABLE CUSTOM ############### */
/* ----------------------------------------------- */

.custom-file-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.widget-4 .card-profile-img {
    top: -40px;
    background-image: url('/upload/teacher/avatar.png')
}

.br-profile-page .br-profile-body {
    max-width:none;
}

.widget-2 .card-header {
    background: white;
}

.widget-2 .card-body {
    background: white;
}

.widget-4 .card-profile-img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: #eee no-repeat center;
    background-size: cover;
}

.ui-datepicker{z-index:1151 !important;}

/* ----------------------------------------------- */
/* ############### DATA TABLE CUSTOM ############### */
/* ----------------------------------------------- */
table.dataTable thead th.sorting::after, table.dataTable thead th.sorting_asc::after, table.dataTable thead th.sorting_desc::after, table.dataTable thead td.sorting::after, table.dataTable thead td.sorting_asc::after, table.dataTable thead td.sorting_desc::after {
    display:none;
}
  table.dataTable thead th.sorting::before, table.dataTable thead th.sorting_asc::before, table.dataTable thead th.sorting_desc::before, table.dataTable thead td.sorting::before, table.dataTable thead td.sorting_asc::before, table.dataTable thead td.sorting_desc::before {
    display:none;
}

.dataTables_length {
    padding-top: 17px;
}

.filter-box select {
    width:275px;
}

table.dataTable tbody td {
    word-break: break-word;
}

table.dataTable>tbody>tr.child span.dtr-title {
    min-width: 150px;
}

/* ----------------------------------------------- */
/* ############### PARSLEY CUSTOM ############### */
/* ----------------------------------------------- */

select.parsley-error {
  border-color: #DC3545;
}
select.parsley-error:focus {
    border-color: #DC3545;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

div.radio.parsley-error {
    color:white;
    background-color: rgb(231, 64, 78, 0.75);
    padding: 5px 10px;
}

select.parsley-success {
    border-color: #23BF08;
}

select.parsley-success:focus {
    border-color: #23BF08;
    box-shadow: 0 0 0 0.2rem rgba(35, 191, 8, 0.25);
}

/* ----------------------------------------------- */
/* ############### PROFILE ############### */
/* ----------------------------------------------- */

.profil-kiri .profil-avatar img {
    width: 100%;
    border-radius: 100%;
    object-fit: contain;
}

.profil-kiri .profil-status span {
    padding: 3px 15px;
    border-radius: 50px;
    font-size:12pt;
    font-weight: 500;
}

.profil-menu {
    padding: 0;
    margin:0;
    list-style: none;
}

.profil-menu .profil-menu-list {
    display: block;
    position: relative;
    transition: 0.3s;
}

.profil-menu .profil-menu-list .profil-menu-link {
    display:flex;
    align-items: center;
    height: 40px;
    padding: 0 20px;
    border: 1px solid #eee;
    margin: -1px 0 0 0;
    color: #778ca3;
    transition: 0.3s;
    border-left: 3px solid transparent;
}

.profil-menu .profil-menu-list .profil-menu-link:hover, .profil-menu .profil-menu-list .profil-menu-link:active {
    background: #ecf0f1;
    color: #17A2B8;
    border-left: 3px solid #17A2B8;
}


.profil-menu .profil-menu-list .profil-menu-link span {
    margin-left: 15px;
    font-size: 12pt;
}

/* ----------------------------------------------- */
/* ############### WIDGET CUSTOM ############### */
/* ----------------------------------------------- */

.widget-custom-tab > .card {
    border: 0;
}
    .widget-custom-tab .card-header {
        background-color: rgb(255, 255, 255);
    }
        .widget-custom-tab .card-header .tab-header {
            border-bottom: 1px solid #eee;
            height:60px;
        }

        .widget-custom-tab .card-header h4 {
            font-size: 14pt;
            color:#17A2B8;
            padding: 15px 0;
        }
        .widget-custom-tab .card-header a {
            color: #6c757d;
        }

    .widget-custom-tab .card-body {
        background: rgb(255, 255, 255);
    }
        .widget-custom-tab .card-body .profil-judul {
            font-size: 13pt;
            font-weight: 500;
            border-bottom: 1px solid #eee;
            padding-bottom: 10px;
        }

        .widget-custom-tab .card-body .profil-judul .alert {
            font-size: 10pt;
            font-weight:normal;
            border-bottom: 1px solid #eee;
            padding-bottom: 10px;
        }

        .widget-custom-tab .card-body .profil-row {
            border-bottom: 1px solid #eee;
            padding: 7px 0;
        }
            .widget-custom-tab .card-body .profil-nama {
                padding: 0 10px;
                width: 175px;
            }


/* ----------------------------------------------- */
/* ############### MEDIA ############### */
/* ----------------------------------------------- */

@media (min-width: 480px) {
    .br-profile-page .br-profile-body {
        padding: 20px;
    }
}

