/* BASIC */
table { page-break-inside:auto }
tr    { page-break-inside:avoid; page-break-after:auto }
body#cetak  {margin: 8px;font-family: Tahoma, Verdana, Helvetica, sans-serif; font-size: 12px;overflow:auto;}

/* KOP SURAT */
.kop-surat .logo {
    width: 120px;
}

.kop-surat .text {
    line-height: 1.1;
}

.kop-surat .text .caps{
    font-size: 14pt;
    text-transform: uppercase;
    text-align: center;
}

.kop-surat .text .small{
    text-align: center;
    font-size: 10pt;
}

.batas-kop {
    width: 100%;
    margin: 20px 0;
    border-bottom: 2.25px solid black;
}

/* HEADER */
.header {
    margin-bottom: 15px;
}

.header .title {
    font-size: 16pt;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
}

.header .description {
    display:block;
    position: relative;
    font-size: 12pt;
}

/* CONTENT */
.content {
    margin-bottom: 50px;
}

.content .table-data td {
    padding: 5px 8px;
}

/* FOOTER */
.footer {
    margin-top: 50px;
}

.footer .sign {
    text-align: center;
    margin: 0 125px;
}

@media print {
    .notprint { display: none; }
}

@page {
    size: auto;
    margin: 2cm;
}
