# ignore everything
*
# exception to the rule
!upload/collaboration
!upload/curriculum/excel_import
!upload/teacher/excel_import
!upload/student/excel_import
!upload/user/administrator.jpg
!.gitignore
